:root {
  --ifm-background-color: var(--ifm-color-white);
  --ifm-color-primary: #cf4647;
  --ifm-color-primary-dark: #c63334;
  --ifm-color-primary-darker: #bb3132;
  --ifm-color-primary-darkest: #9a2829;
  --ifm-color-primary-light: #d55c5d;
  --ifm-color-primary-lighter: #d86768;
  --ifm-color-primary-lightest: #e08889;
  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: var(--ifm-color-white);
  --ifm-footer-background-color: #20232a;
  --ifm-footer-color: var(--ifm-color-white);
  --ifm-footer-link-color: var(--ifm-color-white);
  --ifm-navbar-search-input-background-color: var(--ifm-color-primary-darkest);
  --ifm-navbar-search-input-color: var(--ifm-color-white);
  --ifm-navbar-search-input-placeholder-color: var(--ifm-color-white);
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="white" alt="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
}

small {
  font-size: 14px;
  font-style: italic;
}

code {
  background-color: rgba(27, 31, 35, 0.1);
}

h1 {
  margin-top: 0;
}

i {
  font-style: normal;
}

/* Navbar */
.navbar .navbar__toggle {
  color: var(--ifm-navbar-link-color);
}

/* Tables */
table {
  border: none;
  display: block;
  overflow-x: auto;
}

table thead {
  border: none;
}

table tr {
  border: none;
}

table tr th {
  text-transform: none;
  color: #fff;
  border: none;
}

table tr th,
table tr td {
  border: none;
}

table tr th code,
table tr td code {
  word-break: normal;
}

table tr th:last-child,
table tr td:last-child {
  min-width: 175px;
}

table tr th + th + th:last-child,
table tr td + td + td:last-child {
  min-width: 320px;
  width: 100%;
}

table tr:nth-of-type(odd) {
  background: none;
}

table tbody tr:nth-of-type(even) {
  background-color: rgba(76, 76, 76, 0.1);
}

table thead tr:nth-of-type(odd) {
  background-color: #cf4547;
}

/* Code Blocks */
.prism-code {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Search */
.navbar .navbar__search .navbar__search-input {
  border-radius: 4px;
  transition: width 0.5s ease 0s;
}

.navbar .navbar__search .navbar__search-input:active,
.navbar .navbar__search .navbar__search-input:focus {
  width: 15.5rem;
}

@media (max-width: 360px) {
  .logo {
    display: initial;
  }

  .navbar .navbar__search .navbar__search-input {
    transition: none;
  }
}

@media only screen and (max-width: 488px) {}

@media only screen and (max-width: 735px) {
  table {
    box-shadow: -10px 0px 10px -10px #000000 inset;
    display: inline-block;
    max-width: 100%;
    width: unset;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}
