:root {
  --ifm-global-radius: 0;
  --ifm-background-color: var(--ifm-color-white);
  --ifm-global-shadow-lw: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  /* Font */
  /* TODO: maybe  this should be --ifm-font-family-primary */
  --ifm-font-family-base: "Poppins", sans-serif;
  /* TODO: add to ifm as ifm-font-family-secondary? */
  --font-family-secondary: "Roboto", sans-serif;
  --font-weight-secondary: 900;
  /* Primary color */
  --ifm-color-primary: #cf4647;
  --ifm-color-primary-dark: #c63334;
  --ifm-color-primary-darker: #bb3132;
  --ifm-color-primary-darkest: #9a2829;
  --ifm-color-primary-light: #d55c5d;
  --ifm-color-primary-lighter: #d86768;
  --ifm-color-primary-lightest: #e08889;
  /* Secondary color */
  --ifm-color-secondary: #20232a;
  /* Navbar */
  --ifm-navbar-height: unset;
  --ifm-navbar-padding-vertical: 0.5rem;
  --ifm-navbar-item-padding-vertical: 0.25rem;
  --ifm-navbar-item-padding-horizontal: 0.6rem;
  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: var(--ifm-color-white);
  --ifm-navbar-link-hover-color: var(--ifm-color-white);
  --ifm-navbar-link-hover-decoration: underline;
  /* Plugin(?) Search */
  --ifm-navbar-search-input-background-color: var(--ifm-color-primary-darkest);
  --ifm-navbar-search-input-color: var(--ifm-color-white);
  --ifm-navbar-search-input-placeholder-color: var(--ifm-color-white);
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="white" alt="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  /* Footer */
  --ifm-footer-background-color: var(--ifm-color-secondary);
  --ifm-footer-color: var(--ifm-color-white);
  --ifm-footer-link-color: var(--ifm-color-white);
  --ifm-footer-link-hover-color: var(--ifm-color-white);
  /* Tables */
  --ifm-table-border-width: 0;
  --ifm-table-head-background: var(--ifm-color-primary);
  --ifm-table-head-color: var(--ifm-color-white);
  --ifm-table-stripe-background: rgba(76, 76, 76, 0.1);
  /* Button */
  --ifm-button-background-color: var(--ifm-color-primary);
  /* Card */
  --ifm-card-background-color: #f6f8fa;
  --ifm-card-border-radius: var(--ifm-global-radius);
  --ifm-global-shadow-lw: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
}

/* Element defaults */
h1,
h2,
h3,
h4 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary);
}
h1 {
  --ifm-h1-font-size: calc(1.375rem + 1.5vw);
}
small {
  font-size: 14px;
  font-style: italic;
}

i {
  font-style: normal;
}

/* hash links */
h1 .hash-link {
  display: none;
}

/* Navbar */
.navbar {
  min-height: 4rem;
}

.navbar .navbar__brand {
  height: 3rem;
  margin-right: var(--ifm-navbar-item-padding-horizontal);
}
.navbar .navbar__logo {
  max-width: unset;
  margin-right: 0;
}

.navbar .navbar__link {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary);
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar .navbar__toggle {
  color: var(--ifm-navbar-link-color);
}

.navbar .navbar__link:hover {
  text-decoration: var(--ifm-navbar-link-hover-decoration);
}

@media (max-width: 996px) {
  .navbar .navbar__link {
    display: inline-block;
  }

  .navbar .navbar__link--icon {
    display: none;
  }
}

/* Buttons */
.button.button--secondary {
  --ifm-button-border-color: var(--ifm-color-white);
}

.button.button--secondary:not(.button--outline) {
  --ifm-button-background-color: var(--ifm-color-primary);

  color: var(--ifm-color-white);
}

.button.button--secondary:not(.button--outline):hover {
  --ifm-button-background-color: var(--ifm-color-primary);
  --ifm-button-border-color: var(--ifm-color-white);
}

.button.button.button--secondary:active,
.button.button.button--secondary.button--active {
  --ifm-button-background-color: var(--ifm-color-primary);
  --ifm-button-border-color: var(--ifm-color-white);
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-white);
}

/* Tables */
th,
td {
  text-align: start;
}

th[align="center"],
td[align="center"] {
  text-align: center;
}

table tr th code,
table tr td code {
  word-break: normal;
}

table tr th:last-child,
table tr td:last-child {
  min-width: 175px;
}

table tr th + th + th:last-child,
table tr td + td + td:last-child {
  min-width: 320px;
  width: 100%;
}

/* Code Blocks */
.prism-code {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: var(--ifm-global-radius);
}

/* breadcrumbs */
.breadcrumbs {
  display: none;
}
article .clean-btn {
  display: none;
}

/* Navbar search */
.navbar__items .DocSearch-Button {
  height: 2.25rem;
  font-size: 1rem;
  margin-left: 16px;
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-white);
  background-color: var(--ifm-color-primary-darkest);
  font-family: var(--ifm-font-family-base);
}
.navbar__items .DocSearch-Button:active,
.navbar__items .DocSearch-Button:focus,
.navbar__items .DocSearch-Button:hover {
  color: var(--ifm-color-primary-darkest);
}
.navbar__logo {
  height: 100%;
}
.navbar__items .DocSearch-Button .DocSearch-Search-Icon {
  width: 1rem;
  height: 1rem;
  color: var(--ifm-color-white);
}


.navbar__items .DocSearch-Button:active .DocSearch-Search-Icon,
.navbar__items .DocSearch-Button:focus .DocSearch-Search-Icon,
.navbar__items .DocSearch-Button:hover .DocSearch-Search-Icon {
  color: var(--ifm-color-primary-darkest);
}
.DocSearch .DocSearch-Button-Keys {
  display: none;
}
/* More qualifiers than built-in styles */
.DocSearch-Modal .DocSearch-Form,
.DocSearch-Modal .DocSearch-Hit,
.DocSearch-Modal .DocSearch-Hit a {
  border-radius: var(--ifm-global-radius);
}

/* Footer (for logo) */
.footer__col:first-of-type .footer__item {
  text-align: center;
}
.footer__item img {
  width: 60px;
}
.footer__item svg {
  display: none;
}

@media only screen and (max-width: 720px) {
  table {
    box-shadow: -10px 0px 10px -10px #000000 inset;
  }
}

@media only screen and (max-width: 600px) {
  .navbar__items .DocSearch-Button {
    width: 100%;
    margin: 0;
  }
  .navbar__items .DocSearch-Button-Placeholder {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .navbar .navbar__inner {
    display: block;
  }

  .navbar .navbar__items {
    padding-top: var(--ifm-navbar-item-padding-vertical);
    padding-bottom: var(--ifm-navbar-item-padding-vertical);
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .navbar__items .DocSearch-Button {
    width: 9.5rem;
  }
}

@media only screen and (min-width: 996px) {
  .navbar .DocSearch-Button {
    width: 12.5rem;
  }
}

@media only screen and (max-width: 996px) {
  .footer .col.col.col {
    --ifm-col-width: 33%;
  }
}

@media only screen and (max-width: 375px) {
  /* Hide our logos on tiny devices */
  .navbar .navbar__brand {
    display: none;
  }

  .footer__col:first-of-type {
    display: none;
  }
  .footer .col.col.col {
    --ifm-col-width: 50%;
  }
}

/* Plugins */
.pills {
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* Tidelift */
.tidelift-button {
  display: inline-block;
  margin-right: 1rem;

  background: var(--ifm-color-white);
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary);
  font-size: 1.1rem;

  color: var(--ifm-color-secondary);
  border: 2px solid var(--ifm-color-secondary);
  box-shadow: 7px 7px 0 2px var(--ifm-color-secondary);
  transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;
}
.tidelift-button:hover {
  text-decoration: none;
  color: var(--ifm-color-secondary);
  outline: none;
  transform: translate(2px, 10%);
  box-shadow: 6px 6px 0 0 var(--ifm-color-secondary);
  transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;
}
