@require 'nib'
@require 'jeet'

global-reset()

html, body
  height: 100%
  width: 100%

body
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 14px/1.5

  color: #333
  background-color: #fff

  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: 'liga', 'kern'

.navbar
  col(1/1)
  align(horizontal)
  padding-top: 30px
  float: left
  width: 100%

  a
    color: inherit
    text-decoration: none
    -webkit-tap-highlight-color: transparent
    transition: opacity .2s linear
    transform: translateX(50%)
    margin-bottom: 0
    font-size: 16px
    font-weight: 300
    line-height: 1

    &:focus, &:active
      opacity: .5

  .navbar-title
    display: none
    position: static
    float: left
    left: 50%

  .navbar-links
    center()

    .navbar-link
      padding: 0 15px
      border-right: 1px solid rgba(255, 255, 255, 0.3)

      &:last-child
        border-right: none

.main-header
  height: 90%
  width: 100%
  min-height: 450px
  color: #fff
  text-align: center
  background-color: #cf4646

.main-header-content
  align()

.main-rotate-text
  margin-bottom: 60px

.main-rotate-text.type .words-wrapper
  vertical-align: top
  overflow: hidden

.main-rotate-text.type .words-wrapper.waiting::after
  -webkit-animation: cd-pulse 1s infinite
  -moz-animation: cd-pulse 1s infinite
  animation: cd-pulse 1s infinite

.main-rotate-text.type .words-wrapper.selected
  background-color: #aebcb9

.main-rotate-text.type .words-wrapper.selected::after
  visibility: hidden

.main-rotate-text.type .words-wrapper.selected b
  color: #0d0d0d

.main-rotate-text.type b
  visibility: hidden

.main-rotate-text.type b.is-visible
  visibility: visible

.main-rotate-text.type i
  position: absolute
  visibility: hidden

.main-rotate-text.type i.in
  position: relative
  visibility: visible


@-webkit-keyframes cd-pulse
  0%
    -webkit-transform: translateY(-50%) scale(1)
    opacity: 1

  40%
    -webkit-transform: translateY(-50%) scale(0.9)
    opacity: 0

  100%
    -webkit-transform: translateY(-50%) scale(0)
    opacity: 0


@-moz-keyframes cd-pulse
  0%
    -moz-transform: translateY(-50%) scale(1)
    opacity: 1

  40%
    -moz-transform: translateY(-50%) scale(0.9)
    opacity: 0

  100%
    -moz-transform: translateY(-50%) scale(0)
    opacity: 0


@keyframes cd-pulse
  0%
    -webkit-transform: translateY(-50%) scale(1)
    -moz-transform: translateY(-50%) scale(1)
    -ms-transform: translateY(-50%) scale(1)
    -o-transform: translateY(-50%) scale(1)
    transform: translateY(-50%) scale(1)
    opacity: 1

  40%
    -webkit-transform: translateY(-50%) scale(0.9)
    -moz-transform: translateY(-50%) scale(0.9)
    -ms-transform: translateY(-50%) scale(0.9)
    -o-transform: translateY(-50%) scale(0.9)
    transform: translateY(-50%) scale(0.9)
    opacity: 0

  100%
    -webkit-transform: translateY(-50%) scale(0)
    -moz-transform: translateY(-50%) scale(0)
    -ms-transform: translateY(-50%) scale(0)
    -o-transform: translateY(-50%) scale(0)
    transform: translateY(-50%) scale(0)
    opacity: 0

.logo
  max-width: 20vh
  max-height: 20vh

.main-header-text, .main-rotate-text
  width: 90vw
  animation: fadein 2s
  font-size: 41px
  font-weight: 300
  line-height: 60px

.main-header-btn
  transition: all 0.4s
  color: inherit
  padding: 15px 20px 16px
  vertical-align: top
  cursor: pointer
  border: 1px solid #fff
  border-radius: 3px
  text-decoration: none
  -webkit-tap-highlight-color: transparent
  animation: fadein 2s
  text-shadow: none
  color: #333
  background-color: #fff
  font-size: 22px

  &:hover
    box-shadow: 0 0 50px rgba(255,255,255,.3)

.arrow-wrap
  position: absolute
  z-index: 1
  left: 50%
  margin-top: 10em
  margin-left: -5em
  background: none repeat scroll 0% 0% #fff
  width: 40px
  height: 40px
  padding: 2em 2em
  border-radius: 50%
  font-size: 0.5em
  display: block

.arrow
  width: 60px
  height: 40px
  position: absolute
  left: 50%
  margin-left: -30px
  top: 25px

.arrow path
  stroke: #CF4646
  fill: transparent
  stroke-width: 1px

.content
  center(max-width: 1024px)
  background-color: #fff

.content h1
  color: #CF4646
  font-size: 2em
  text-align: center

section
  padding-top: 5em

.detail-content
  col(1/1)
  center(max-width: 1024px)
  padding-top: 50px
  padding-right: 50px
  padding-left: 50px

  .benefit
    margin-top: 50px

    @media screen and (min-width: 700px)
      col(1/2, cycle: 2)

    @media screen and (max-width: 700px)
      col(1/2, cycle: 4)
      stack()

    .benefit-title
      margin-bottom: 14px
      font-size: 22px
      font-weight: 500

    .benefit-text
      color: #7f8c8d
      font-size: 16px
      line-height: 26px

.sample, .use
  min-height: 150px

  .sample-code, .use
    col(1/2)
    font-size: 16px
    line-height: 18px

    code
      border-radius: 2px

    @media screen and (max-width: 768px)
      stack()

  .sample-text
    col(1/2)

    margin-bottom: 1.5em
    font-size: 18px
    line-height: 20px
    color: #555

    @media screen and (max-width: 768px)
      stack(0, center)

.who-use
  text-align: center

.who-item
  display: inline-block
  margin-right: 30px

.who-item-link
  display: block
  width: 150px
  height: 150px
  text-align: center
  vertical-align: middle
  line-height: 150px

footer
  background: #CF4646
  color: #FFF
  min-height: 40px
  height: 4em
  line-height: 4em

.footer-links
  float: right

.footer-links .octicon
  font-size: 1.5em
  color: #fff

.footer-credits, .footer-detail ul li
  float: left

.footer-detail
  width: 70%
  margin: 0 auto

.footer-detail ul
    margin: 0px
    list-style-type: none

.footer-detail ul li
  margin-right: 1em


@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
