@require 'nib'
@require 'jeet'

global-reset()

html, body
  height: 100%
  width: 100%

body
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 14px/1.5

  color: #333
  background-color: #fff

  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: 'liga', 'kern'

.navbar
  col(1/1)
  align(horizontal)
  padding-top: 30px
  float: left
  width: 100%

  a
    color: inherit
    text-decoration: none
    -webkit-tap-highlight-color: transparent
    transition: opacity .2s linear
    transform: translateX(50%)
    margin-bottom: 0
    font-size: 16px
    font-weight: 300
    line-height: 1

    &:focus, &:active
      opacity: .5

  .navbar-title
    display: none
    position: static
    float: left
    left: 50%

  .navbar-links
    center()

    .navbar-link
      padding: 0 15px
      border-right: 1px solid rgba(255, 255, 255, 0.3)

      &:last-child
        border-right: none

.main-header
  height: 90%
  width: 100%
  min-height: 450px
  color: #fff
  text-align: center
  background-color: #cf4646

.main-header-content
  align()

.main-rotate-text
  margin-bottom: 60px

.main-rotate-text.type .words-wrapper
  vertical-align: top
  overflow: hidden

.main-rotate-text.type .words-wrapper.waiting::after
  -webkit-animation: cd-pulse 1s infinite
  -moz-animation: cd-pulse 1s infinite
  animation: cd-pulse 1s infinite

.main-rotate-text.type .words-wrapper.selected
  background-color: #aebcb9

.main-rotate-text.type .words-wrapper.selected::after
  visibility: hidden

.main-rotate-text.type .words-wrapper.selected b
  color: #0d0d0d

.main-rotate-text.type b
  visibility: hidden

.main-rotate-text.type b.is-visible
  visibility: visible

.main-rotate-text.type i
  position: absolute
  visibility: hidden

.main-rotate-text.type i.in
  position: relative
  visibility: visible


@-webkit-keyframes cd-pulse
  0%
    -webkit-transform: translateY(-50%) scale(1)
    opacity: 1

  40%
    -webkit-transform: translateY(-50%) scale(0.9)
    opacity: 0

  100%
    -webkit-transform: translateY(-50%) scale(0)
    opacity: 0


@-moz-keyframes cd-pulse
  0%
    -moz-transform: translateY(-50%) scale(1)
    opacity: 1

  40%
    -moz-transform: translateY(-50%) scale(0.9)
    opacity: 0

  100%
    -moz-transform: translateY(-50%) scale(0)
    opacity: 0


@keyframes cd-pulse
  0%
    -webkit-transform: translateY(-50%) scale(1)
    -moz-transform: translateY(-50%) scale(1)
    -ms-transform: translateY(-50%) scale(1)
    -o-transform: translateY(-50%) scale(1)
    transform: translateY(-50%) scale(1)
    opacity: 1

  40%
    -webkit-transform: translateY(-50%) scale(0.9)
    -moz-transform: translateY(-50%) scale(0.9)
    -ms-transform: translateY(-50%) scale(0.9)
    -o-transform: translateY(-50%) scale(0.9)
    transform: translateY(-50%) scale(0.9)
    opacity: 0

  100%
    -webkit-transform: translateY(-50%) scale(0)
    -moz-transform: translateY(-50%) scale(0)
    -ms-transform: translateY(-50%) scale(0)
    -o-transform: translateY(-50%) scale(0)
    transform: translateY(-50%) scale(0)
    opacity: 0

.logo
  max-width: 20vh
  max-height: 20vh

.main-header-text, .main-rotate-text
  width: 90vw
  animation: fadein 2s
  font-size: 41px
  font-weight: 300
  line-height: 60px

.main-header-btn
  transition: all 0.4s
  color: inherit
  padding: 15px 20px 16px
  vertical-align: top
  cursor: pointer
  border: 1px solid #fff
  border-radius: 3px
  text-decoration: none
  -webkit-tap-highlight-color: transparent
  animation: fadein 2s
  text-shadow: none
  color: #333
  background-color: #fff
  font-size: 22px

  &:hover
    box-shadow: 0 0 50px rgba(255,255,255,.3)

.arrow-wrap
  position: absolute
  z-index: 1
  left: 50%
  margin-top: 10em
  margin-left: -5em
  background: none repeat scroll 0% 0% #fff
  width: 40px
  height: 40px
  padding: 2em 2em
  border-radius: 50%
  font-size: 0.5em
  display: block

.arrow
  float:left
  position:relative
  width: 0px
  height: 0px
  border-style: solid
  border-width: 3em 3em 0 3em
  border-color: #ffffff transparent transparent transparent
  -webkit-transform:rotate(360deg)

.arrow:after
  content:''
  position:absolute
  top:-3.2em
  left:-3em
  width: 0px
  height: 0px
  border-style: solid
  border-width: 3em 3em 0 3em
  border-color: #111 transparent transparent transparent
  -webkit-transform:rotate(360deg)

.arrows
  width: 60px
  height: 40px
  position: absolute
  left: 50%
  margin-left: -30px
  top: 25px

.arrows path
  stroke: #CF4646
  fill: transparent
  stroke-width: 1px

.hint
  position:absolute
  top:0.6em
  width:100%
  left:0
  font-size:2em
  font-style:italic
  text-align:center
  color:#fff
  opacity:0

.arrow-wrap:hover .hint
  opacity:1

@-webkit-keyframes arrows
  0%
    top:0
  10%
    top:12%
  20%
    top:0
  30%
    top:12%
  40%
    top:-12%
  50%
    top:12%
  60%
    top:0
  70%
    top:12%
  80%
    top:-12%
  90%
    top:12%
  100%
    top:0

.arrow-wrap .arrow
  -webkit-animation: arrows 2.8s 0.4s
  -webkit-animation-delay: 3s

.main-info
  center(max-width: 1024px)
  background-color: #fff

.benefits
  col(1/1)
  center(max-width: 1024px)
  padding: 50px

  .benefit
    margin-top: 50px

    @media screen and (min-width: 700px)
      col(1/2, cycle: 2)

    @media screen and (max-width: 700px)
      col(1/2, cycle: 4)
      stack()

    .benefit-title
      margin-bottom: 14px
      font-size: 22px
      font-weight: 500

    .benefit-text
      color: #7f8c8d
      font-size: 16px
      line-height: 26px

.sample
  min-height: 150px

  .sample-code
    col(1/2)
    font-size: 16px
    line-height: 18px

    code
      border-radius: 2px

    @media screen and (max-width: 768px)
      stack()

  .sample-text
    col(1/2)

    margin-bottom: 1.5em
    font-size: 18px
    line-height: 20px
    color: #555

    @media screen and (max-width: 768px)
      stack(0, center)


@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
