.logo {
  img {
    max-width: var(--xxl);
  }
}

// navigation
.nav {
  font-family: var(--body-text);
  color: white;
  display: none;

  @media(min-width: 768px) {
    display: grid;
    grid-template-columns: var(--hugest) var(--xxl) var(--large) var(--xxl) var(--hugest);
    grid-column-gap: var(--small);
    align-items: center;
  }

  li {
    text-align: center;

    &:last-child {
      padding: var(--tiny);
      border: 2px solid white;
    }
  }

  a {
    color: white;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

// socials
.socials {
  display: none;

  @media(min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    > li {
      position: relative;
      margin: var(--tiny);
    }

    a {
      cursor: pointer;
    }
  }
}