.plugins {
  margin: 0 auto;
  padding: var(--big);
  align-items: center;

  @media(min-width: 768px) {
    max-width: var(--max-width-mid);
    display: grid;
    grid-template-columns: 42% 58%;
    grid-column-gap: var(--big);
  }
  
  @media(min-width: 1200px) {
    padding: var(--huge) var(--big);
    max-width: var(--max-width-large);
    grid-template-columns: 30% 58%;
    grid-column-gap: var(--max);
  }

  h3 {
    margin-top: 0;
  }

  .plugins__text {
    align-self: baseline;
    flex-direction: column;
    align-items: top;

    h3 {
      text-align: center;

      @media(min-width: 768px) {
        text-align: left;
      }
    }

    p {
      @media(min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  .plugins__grid {
    display: grid;
    grid-template-columns: repeat(2, 168px);
    align-items: center;
    justify-content: center;
    grid-column-gap: var(--medium);
    grid-row-gap: var(--medium);

    @media(min-width: 1200px) {
      grid-template-columns: repeat(3, 184px);
      grid-column-gap: var(--big);
      grid-row-gap: var(--big);
    }
    
    .plugin {
      box-shadow: 1px 2px 5px 1px #ddd;
      background: white;
      padding: var(--small);
      min-height: 184px;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;

      @media(min-width: 768px) {
        transform: scale(0.95);
        transition: box-shadow .2s ease-in, transform .2s ease-in;

        &:hover {
          transform: scale(1);
          box-shadow: 6px 7px 8px 5px #ddd;
          transition: box-shadow .2s ease-in, transform .2s ease-in;
        }
      }

      @media(min-width: 1200px) {
        padding: var(--medium) var(--small);
      }

      img {
        max-height: 100px;
        display: block;
        margin: var(--tiny) auto;
      }

      span {
        font-size: 14px;
        text-align: center;
        display: block;
      }
    }
  }
}